defaults: &defaults
  docker:
    - image: circleci/node:latest-browsers
      environment:
        JOBS: 2
  working_directory: ~/repo

version: 2
jobs:
  checkout_code:
    <<: *defaults
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths:
            - .

  install_dependencies:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run:
          name: NPM install
          command: npm ci
      - persist_to_workspace:
          root: .
          paths:
            - .

  lint_js:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Lint
          command: npm run lint:js

  test_default:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/ember-octicons/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember test

  test_lts_2_18:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-lts-2.18 --skip-cleanup=true

  test_lts_3_4:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-lts-3.4 --skip-cleanup=true

  test_lts_3_8:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-lts-3.8 --skip-cleanup=true

  test_release:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-release --skip-cleanup=true

  test_beta:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-beta --skip-cleanup=true

  test_canary:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-canary --skip-cleanup=true

  test_default:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-default --skip-cleanup=true

  test_default_jquery:
    <<: *defaults
    steps:
      - attach_workspace:
          at: .
      - run: echo 'export PATH=~/repo/node_modules/.bin:$PATH' >> $BASH_ENV
      - run:
          name: Run Tests
          command: ember try:one ember-default-with-jquery --skip-cleanup=true

workflows:
  version: 2
  test_matrix:
    jobs:
      - checkout_code
      - install_dependencies:
          requires:
            - checkout_code
      - lint_js:
          requires:
            - install_dependencies
      - test_default:
          requires:
            - install_dependencies
      - test_lts_2_18:
          requires:
            - install_dependencies
      - test_lts_3_4:
          requires:
            - install_dependencies
      - test_lts_3_8:
          requires:
            - install_dependencies
      - test_release:
          requires:
            - install_dependencies
      - test_beta:
          requires:
            - install_dependencies
      - test_canary:
          requires:
            - install_dependencies
      - test_default:
          requires:
            - install_dependencies
      - test_default_jquery:
          requires:
            - install_dependencies
